* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 250px;
  grid-auto-rows: auto;
  grid-template-areas: 
  "hd hd"
  "nav nav"
  "sidebar main"
  "footer footer";
}

.header {
  grid-area: hd;
  padding: 16px;
  background-image: url("../images/header-background.jpeg");
  background-position: center center;
  background-size: cover;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
}

.sort {
  grid-area: nav;
  display: flex;
}

.sort__label,
.sort__item {
  padding: 0 32px;
  line-height: 3rem;
  text-decoration: none;
  color: white;
  border-bottom: 5px solid transparent;
}

.sort__item:hover {
  background-color: #0F0D0E;
  border-bottom-color: #124c82;
}

.sidebar {
  grid-area: sidebar;
  padding: 32px;
}

.content {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 45%;
  height: fit-content;
  margin-bottom: 32px;
  background-color: #222;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.25s transform 0.25s;
}

.card:hover {
  box-shadow: 0 0.5rem 0.5rem -0.4rem #777;
  transform: translateY(-0.25rem);
}

.card__header {
  position: relative;
  height: 250px;
  overflow: hidden;
  background-image: url("../images/twilight1.png");
  background-position: center center;
  background-size: cover;
}

.card__title {
  position: absolute;
  left: 16px;
  bottom: 32px;
  font-weight: 900;
  -webkit-text-stroke: 0.05rem rgba(0, 0, 0, .5);
}

.card__info {
  position: absolute;
  left: 16px;
  bottom: 16px;
  font-weight: 900;
  text-shadow: 1px 1px 4px rgba(255, 255, 236, 0.7);
}

.card__content {
  padding: 16px;
  font-size: 0.9rem;
  line-height: 1.4rem;;
}

.card__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.footer {
  grid-area: footer;
  padding: 32px;
  background-color: #221F20;
  text-align: center;
} 